@model Presentacion.Models.ChoferModel

@{
    ViewData["Title"] = "Eliminar";
}

<h1>Eliminar Chofer</h1>

<h3>¿Seguro que desea eliminar este registro?</h3>
<div>
    <h4>ChofernModel</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.IdChofer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.IdChofer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre1Chofer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre1Chofer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Nombre2Chofer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Nombre2Chofer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido1Chofer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido1Chofer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Apellido2Chofer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Apellido2Chofer)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.TelefonoChofer)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.TelefonoChofer)
        </dd>
    </dl>
    
    <form asp-action="Eliminar_Chofer" asp-controller="Chofer" method="post">
        <input type="submit" value="Eliminar_Chofer" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
